body {
  display: flex;
}

.inputs {
  border: 1px solid black;
  padding: 15px;
  display: inline-block;
  width: 15%;
}

.inputs h1 {
  text-align: center;
}

.inputdiv {
  margin-bottom: 15px;
}

.inputdiv label {
  text-align: right;
  display: inline-block;
  width: 30%;
}

.inputdiv input {
  width: 60%;
  margin-right: 5%;
  float: right;
}

.inputs button {
  width: 100%;
}

.split {
  border: 1px solid black;
  width: 75%;
  height: 75%;
  margin-left: 3%;
}

.buttons {
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
}

.buttons button {
  box-sizing: border-box;
  width: 20%;
}

.exercises {
  text-align: center;
}
